* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#nav li {
    height: 100%;
    list-style: none;
    float: right;
    margin: 20px;
}

#logo {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    top: 20vh
}

#box {
    width: 100%;
    display: flex;
    justify-content: center;
}

#formfield {
    position: relative;
    top: 20vh;
}

#box #formfield #form {
    width: 450px;
    height: 25px;
    display: inline-block;
    padding: 5px 30px 5px;
    border-radius: 30px;
    border: 0.3vh solid rgb(194, 192, 192);
}

#box #formfield #form .iconleft {
    float: right;
}

#box #formfield #form .iconright {
    float: left;
}

.subtitle {
    position: relative;
    text-align: center;
    top: 25vh;
}

#footer {
    width: 100%;
    background: #dadce0;
    position: absolute;
    bottom: 0vh;
    right: 0vh;
}

#footer span {
    margin: 60px;
}

#footer li {
    display: inline-block;
    margin: 20px;
    list-style: none;
}